<!--
<div class="row">
  <div class="col-xs-12">
    <h1>Travel Advice</h1>
  </div>
</div>
 -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h3>Destination</h3>
    {% include address.html class='lead' %}
  </div>
  <!-- <div class="col-xs-12 col-sm-6">
    <h3>Parking</h3>
    <p>
      You can park anywhere on campus, though we recommend parking at the East River Road Garage (<a target='_blank' href="http://www1.umn.edu/pts/maps/Library/stadium/Overview/ERRG.pdf">directions</a>, <a target='_blank' href="http://www1.umn.edu/pts/park/facilities/errramp.html">cost</a>). From this garage, use the elevators to go to level A and head into Coffman Memorial Union to find the Great Hall.
    </p>
  </div> -->
</div>
